.products{
    margin: 4rem 5%;
    width: 90%;
}

.products-categories{

    .products-categories-title{
        
        margin-bottom: 2rem;

        h1{
            color: black;
            font-size: 3rem;
            font-weight: lighter;
        }
    }

    
    .products-categories-checkbox{

        .container {
            display: block;
            position: relative;
            padding-left: 35px;
            margin-bottom: 12px;
            cursor: pointer;
            font-size: 22px;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }
          
        .container input {
            position: absolute;
            opacity: 0;
            cursor: pointer;
            height: 0;
            width: 0;
        }
          
        .checkmark {
            border: 1px solid rgb(114, 114, 114);
            position: absolute;
            top: 0;
            left: 0;
            height: 25px;
            width: 25px;
            background-color: rgb(230, 230, 230);
        }
          
        .container:hover input ~ .checkmark {
            background-color: #ccc;
        }
          
        .container input:checked ~ .checkmark {
            background-color: #2196F3;
        }
          
        .checkmark:after {
            content: "";
            position: absolute;
            display: none;
        }
          
        .container input:checked ~ .checkmark:after {
            display: block;
        }
          
        .container .checkmark:after {
            left: 9px;
            top: 5px;
            width: 5px;
            height: 10px;
            border: solid white;
            border-width: 0 3px 3px 0;
            -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            transform: rotate(45deg);
        }
    }
}

.products-gallery{
    
    .products-gallery-menu{

        margin-bottom: 1rem;

        .products-gallery-menu-counter p{
            color: black;
            font-size: 1.2rem;
        }

        .products-gallery-filter{
            text-align: center;
            width: max-content;
            padding: 3% 0;
            select{
                padding: 0.2rem;
            }
        }
    }

    .products-gallery-items{

        margin-bottom: 2rem;

        .products-gallery-item{
            margin-bottom: 1rem;
            padding: 1rem;
            background-color: rgb(230, 230, 230);
            border-radius: 5px;
            box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);

            .products-gallery-item-image{
                width: 100%;
                height: auto;
                border-radius: 5px;
            }

            .products-gallery-item-title{
                margin: 1rem 0;
              

                h2{
                    font-size: 1.5rem;
                    font-weight: lighter;
                    color: #000;
                    text-align: center;
                }
            }

            .products-gallery-item-button{
                border: none;
                text-align: center;
                padding: 5%;

                button{
                    background-color: #142a54;
                    border: none;
                    color: aliceblue;
                    border-radius: 50px;
                    font-size: 1.3rem;
                    padding: 3% 7%;
                }
            }
                        
        }
    }
}


