footer{
    
    width: 100%;

    .footer-element{
        width: 100%;

        p{
            text-align: center;
        }

    }
    .foot{
        text-align: center;
        .foot-texto{
    
            h5{
                color:hsl(0, 0%, 0%);
                font-size: 1rem;
                font-weight: 600;
            }
        }
    }
    
}
