header{

	.header-logos{
		display: flex;

		.header-logo{
			width: 70%;
			padding: 2% 0 0 2%;
		}
		.header-menu-hamburger {
			padding: 2% 0 0 5%;
			width: 15%;
			color: hsl(0, 0%, 99%);
		}

	}
	
}
