.foot{
    text-align: center;
    padding: 1vh;
    .foot-texto{
        margin-bottom: 25%;
        h5{
            color: black;
            font-size: 2rem;
    
        }
    }
}

.footer-from-texts{
    background-color: hsl(219, 62%, 20%);
    padding: 13.5vh 0;
}

.footer-from-tex{
    text-align: center;
    span{
        color: hsl(0, 0%, 100%);
        font-size: 1.5rem;
    }
}


