.admi-panel-tabs{

    .tabs, .tabs-local{
        border-radius: 0.5rem;
        border: solid 0.5rem #63AA73;
        background-color: hsl(218, 63%, 20%);
        display: flex;

        button{
            padding: 0% 2.5%;
            cursor: pointer;
            border: none;
            background-color: transparent;
            font-size: 1.5rem;
            font-weight: 600;
            color: hsl(0, 0%, 100%);

            &.active{
                background-color: hsl(134, 29%, 53%);
            }

            svg{

             width: 2rem;
                &:hover{
                    color: hsl(134, 29%, 53%);
                }
            }
        }

        .tab-form-buttons{
            display: flex;
            margin-left: auto;
            padding: 0.2rem 1rem; 
            input{
                visibility: hidden; 
            }
            .switchs{
                border-radius: 0.7rem;
                position: relative;
                margin-top: 5.5%;
                padding: 2%;
                background-color: hsl(0, 0%, 85%);
                width: 4rem;
                height: 2vh;
                span{
                    transition: all .5s;
                    color: #fff;
                    position: absolute;
                    background-color:#fff;
                    border: solid .5rem;
                    border-radius: 50%;
                    left: 0%;
                    top: 0%;
                    width: 19%;
                    height: 1vh;
                }
                &.active{
                    background-color: hsl(134, 29%, 53%);
                    span{
                        transition: all .5s;
                        left: 50%;
                    }
                } 
            }
                        
        }
    }

    .tab-content, .tab-content-local{

        margin-top: 3%;
        // le damos display none a todos los tabs desde css para que no se vean todos a la vez
        display: none;
        // le damos clase activa con display block para que desde js aparezca cuando le damos click

        &.active{
            display: block;
        }
    }

    .tabs-local, .tab-content-local{
        margin: 1rem 0;

        button{
            padding: 0.5rem;
        }
    }
    .tab-content{

       .input-image{
           
            background-color: hsl(218, 63%, 20%);
            position: relative;
            width: 10.5%;
            height: 14vh;
            border-radius: 0.3rem;
            label{
                position: absolute;
                svg{
                    color: hsl(0, 0%, 100%);
                    width: 5.6rem;
                    height: 15vh;
                }
            }

            input{
                width: 100%;
                color: hsl(0, 0%, 100%);;
                align-items: center;
                height: 15vh;
                position: relative;
                cursor: pointer;
                opacity: 0;
            }
       }
    }

}