
.product{
    padding: 5% 5%;
    width: 90%;
}


.product-images{

    .product-image-minis{
        display: flex;
    }
    
    .product-image-mini{
        border: solid;
        border-width: 0.5px;
        border-color: #142a54;
        margin: 0 0.5%;
    }
}

.product-info{
    border:solid;
    border-color: #142a54;
    border-radius: 2rem;
    padding: 5%;

    .product-info-title h2{
        color: hsl(0, 0%, 0%);
        font-size: 2.5rem;
        font-weight: lighter;
        text-align: center;
    }

    .product-info-price{
        margin: 1rem 0;
    }

    .product-info-price{
        border: 3px #717171 dotted;

        h3{
            color: #717171;
            font-size: 2rem;
            font-weight: lighter;
            text-align: center;
        }
    }

    
    .product-info-purchase-datas{

        span{
            color: #142a54;
            font-size: 1.3rem;
            font-weight: bolder;
            margin-right: 1rem;
        }

        p {
            color: black;
            font-size: 1.3rem;
            font-size: 1.3rem;
            margin: 0.5rem 0;
        }
    }

    .product-button{

        display: flex;
        margin-top: 5%;
    
        span{
            color: #142a54;
            font-size: 1.3rem;
            font-weight: bolder;
            margin-right: 2rem;
        }

        .product-button-element{
            width: 15%;

            button{
                background-color: #142a54;
                border: 0;
                color:hsl(0, 0%, 100%);
                cursor: pointer;
                font-weight: 600;
                height: 100%;
                padding: 0.5rem 0;
                width: 100%;
            }
        }

        .product-button-element#left button{
            border-radius: 0.5rem 0 0 0.5rem;
        }
        
        .product-button-element#right button{
            border-radius: 0 0.5rem 0.5rem 0;
        }

        .product-button-amount{
            border: none;
            border-top: 1px solid black;
            border-bottom: 1px solid black;
            width: 15%;
        }
        
        .product-button-amount form{
            width: 100%;
        }

        .product-button-amount input{
            border: 0;
            text-align: center;
            padding: 0.5rem 0;
            width: 100%;
        }
        
        .product-button-amount input:focus{
            outline: none;
        }
        
        .product-button-amount input::-webkit-outer-spin-button,
        .product-button-amount input::-webkit-inner-spin-button {
           -webkit-appearance: none;
           margin: 0;
        }
    }
    
    .product-button-booking{
        padding: 10% 0 0 0;
        text-align: center;

        button{
            @include featured-button(1.7rem)
        }
    }
}
