.foot{
    text-align: center;
    padding: 1vh;
}

.footer-from-texts{
    background-color: hsl(219, 62%, 20%);
    padding: 13.5vh 0;
}

.footer-from-tex{
    text-align: center;
    span{
        color: hsl(34, 78%, 91%);
        font-size: 1.5rem;
    }
}

