header{
    background-color: #142a54;
    padding: 1% 2%;
    width: 96%;
}

.header-logo{
    width: 70%;
}

.dropdown-display{
    
    background-color:hsl(219, 62%, 20%);
    position: absolute;
    width: 100%;
    height: 100vh;
    left: 0%;
    top: -500%;
    z-index: 2000;
    transition: all 0.9s;

    .dropdown-display-texts{
        margin-top: 35%;
        text-align: center;
        .dropdown-display-text{
            padding: 5%;
            span{
                color:hsl(0, 0%, 100%);
                font-size: 1.5rem;
                font-weight: 600;
            }
        }
    }
    &.active{
        transition: all 0.9s;
        left: 0%;
        top: 0%;
    }
}

.hamburger{

    cursor:pointer;
    display:block;
    position: absolute;
    right:2rem;
    top: 2.5rem;
    z-index: 2000;
    
    .bar1, .bar2, .bar3{
        border-radius: 3rem;
        display: block;
        width: 2.5rem;
        height: 0.4rem;
        margin: 5px auto;
        background-color: hsl(0, 0%, 100%);
        transition: 0.4s;
    }

    &.active .bar1{
        transform: rotate(45deg) translate(8px,0.5rem);
    }
    &.active .bar2{
        opacity: 0;
    }
    &.active .bar3{
        transform: rotate(-45deg) translate(8px,-0.5rem);
    }
}